*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}
.reg{
    width: 500px;
    margin: 50px auto;  
}
.reg input{
    width: 100%;
    outline: none;
    padding: 14px;
    margin-bottom: 20px;
    border: 2px solid #000000;

}
.regbutton{
    width: 100%;
    text-align: center;
    padding: 14px;
    background-color: rgb(170, 174, 178);
    cursor: pointer;
}
.regbutton:hover{
    background-color: rgb(145, 140, 140);
}
